body {
  background: #e3e4db;
}
h1 {
  color: #083f2f;
}

.header {
  background: #f4b9b2;
  max-width: 200px;
  min-height: 200px;
  padding: 20px 20px;
  border-radius: 50%;
  margin: 100px;
}

.main {
  background: white;
  box-sizing: border-box;
  max-width: 1000px;
  margin: 35px auto;
}

.main__header {
  padding: 5px 5px;
  margin: 35px;
}

.main__heading {
  margin: 35px;
}

.navigation {
  padding: 40px 30px;
  min-height: 100px;
}

.navigation__link {
  color: #344055;
  margin-right: 90px;
  display: inline-block;
}
.navigation__link--homepage {
  color: #8fe9de;
}

.content {
  margin: 35px;
}

.content__heading {
  margin: 35px;
}

.content__content {
  margin: 35px;
}

.content__picture {
  margin: 50%;
  max-width: 60%;
}
